<div class="container">
    <div class="row">
        <h1>App Commponent</h1>
        <hr>
        <!-- <div id="app-servers"></div> --> <!-- Not works -->
        <!-- <div class="app-servers"></div> --> <!-- works -->
        <!-- <div app-servers></div> --> <!-- works -->
        <app-servers></app-servers> <!-- works -->
    </div>
</div>